*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color: white;
    --bg-url: url(./assets/assets/bg-mobile.jpg); 
    --strok-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.055);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
    
}

.light{
    --text-color:  black;
    --bg-url: url(./assets/assets/bg-mobile-light.jpg);
    --strok-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05 );
    --surface-color-hover: rgba(0, 0, 0, 0.05 );
    --highlight-color: rgba(0, 0, 0, 0.10);
    --switch-bg-url: url(./assets/sun-stars.svg);
}
body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

header{
    background-color: var(--surface-color);
    color: var(--text-color);
    padding: 20px;
    backdrop-filter: blur(4px);
    position: relative;

}


header button {
    background-color: var(--surface-color);
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);  
    margin-right: 20px;
}


.icon {
    font-size: 30px; /* Tamanho do ícone ajustável */
}